* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
}

.clock {
  position: relative; /*kaydirma islemi yapar  */
  width: 40rem;
  height: 40rem;
  border: 5px solid black;
  border-radius: 5%;
  background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg")
    center;

  background-repeat: no-repeat; /*resmi bir kere gosteriri tekrar etmesini engeller */
  background-size: 88%;
}

.secs {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12rem;
  width: 0.1rem;
  background-color:black;

  transform: translateX(-50%);
   transform-origin: 25% 0;     /*Transform işlemini elemanın solundan %25, tepesinden 0 noktasından başlat. */
}

.mins {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 9rem;
  width: 0.3rem;
  background-color: black;
  transform: translateX(-50%);
  border-radius: 20px;
  transform-origin: 25% 0;
}

.hours {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: .5rem;
  background-color: black;
  transform: translateX(-50%);
  transform-origin: 25% 0;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1rem;
  width: 1rem;
 border-radius: 50%;
  background-color: black;
  transform: translateX(-50%);
}
